using standard delivery status notification / refining tick marks

had a little discussion with @r10s and want to record what i learnt.  So, currently, 

- DC sends out its own ``Chat-Disposition-Notification-To`` header which is acted upon from the other side by sending a display/read receipt.  This results in the second tick for a message. 

- DC does not attempt to parse [standard e-mail DSNs](http://www.faqs.org/rfcs/rfc1891.html) as there is a huge variety of what MTAs and in particular mail user agents send back, in terms of format. 

- due to this, DC can not, like whatsapp does, signal to the user that a message was delivered to an end-device.  This is useful information, because if the second grey tick is not there, one knows that the other side has no chance to read the message yet. 

So this issue is about considering how to improve usability.  I think Delta.chat could request DSNs from MTAs only, and not from the MUA.  It's then a matter of testing DSN's from a view major MTAs (postfix, sendmail, exim, exchange, ...) and introducing/parsing them to produce the whatsapp-style tick-marks. 

oh, and can anyone describe the telegram behaviour wrt to tick marks? 


I agree that it is a good idea to switch to standard MDN-requets sooner or later.

> DC does not attempt to parse standard e-mail DSNs as there is a huge variety of what MTAs and in particular mail user agents send back, in terms of format.

In fact, DC parses the standard MDNs ([RFC8098](https://tools.ietf.org/html/rfc8098), seems to be an update to RFC1891 and RFC3461). But DC does not request them using the standard header (`Disposition-Notification-To`) as this would result in weired/unrecognizable MDNs from some MUAs. Instead, we use the `Chat-Disposition-Notification-To` header for which we have a guarantee not to get "freetext" MDN but a standard MDN.

On the sending side, DC always sends out standard MDNs.

> oh, and can anyone describe the telegram behaviour wrt to tick marks?

from https://telegram.org/faq#q-what-do-the-green-checks-mean :
> One check — message delivered to the Telegram cloud and your friend has been notified if he allows notifications.
> Two checks — message read (your friend opened Telegram and opened the conversation with the message).
However, I just tested to send a Telegram message to a device (in a non-multidevice-setup) that is switched off and I get one checkmark anyway although the recipient has not been notified.

> I think Delta.chat could request DSNs from MTAs only, and not from the MUA.

not sure which MTA says "okay, mail arrived" and how this works for groups and if it is supported by all servers.
in  general, i find the current situation with "sent to own server" and "mail read by recipient" sufficient and easy to understand.

however, just came to my mind: due to the rather new bcc-self-thingie we have an additional and maybe easy to user signal: if we see the message we've just sent in the INBOX, at least parts of the SMTP way have worked. 
again, not sure if a 3rd state is useful, however, maybe we should delay the first tick on bbc-self-received.